<!DOCTYPE html>
<html>
  <head>
    <title>📖 Ask Sahil's Book - Nicolò Benigni</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

    <% if Rails.env.development? %>
      <%= stylesheet_link_tag "hireme" %>
    <% end %>
    <%= javascript_include_tag "application", defer: false %>

    <script defer data-domain="gumroad.nicontheinternet.com" src="https://anal.nicontheinternet.com/js/script.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
